<!-- templates/todos/todo_list_delete.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete list</title>
</head>
<body>
    <main>
        <div>
            <h1>Delete list</h1>
            <p>Are you sure you want to delete "{{ todo_list.name }}"?</p>
            <form method="post" action="">
                {% csrf_token %}
                <button type="submit">Delete</button>
            </form>
        </div>
    </main>
</body>
</html>
